*{
    margin: 0;
    padding: 0;
}
#logo{
    position: absolute;
}
.row {
    width: 1920px !important;
}
#buttons {
    text-align: center;
    width: 100%;
    height: auto;
    top: 35%;
    position: absolute;
}
#buttonwrapper {
    text-align: center;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 45%;
    position: absolute;
}
.button_elev{
    margin-right: 100px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    color:#31A6FF;
    font-family: "proxina nova";
    font-weight: 100;
    font-size: 34px;
    text-align: center;
    border: solid 2px #31A6FF;
    border-radius: 3px;
    padding: 10px 70px;
}
.button_elev:hover{
    text-decoration: none;
    transition: all .475s ease;
    background-color: #31A6FF; 
    color: white;
}

.button_personal{
    margin-left: 100px;
    position: relative;
    display: inline-block;
    color:#31A6FF;
    font-family: "proxina nova";
    font-weight: 100;
    font-size: 34px;
    text-align: center;
    border: solid 2px #31A6FF;
    border-radius: 3px;
    padding: 10px 70px;
    }
.button_personal:hover{
    text-decoration: none;
    transition: all .475s ease;
    background-color: #31A6FF; 
    color: white;
}